.header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 5%;
  
  align-items: center;
  flex-direction: row;
  background-image: url(../imagenes/img-paginas/banner2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img_logo {
  width: 30%;
  margin-left: 4%;
  cursor: pointer;
  position: relative;
}

.menu-superior {
  display: flex;
  justify-content: end;
  align-self: end;
  margin-bottom: 2%;
  gap: 5%;
}

.menu_superior-elemento {
  font-size: 1.5rem;
  text-decoration: none;
  color: gray;
}

.titulo-aniversario {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  justify-content: end;
  margin-right: 7%;
  color: chocolate;
}

/* ↓↓ TABLET ↓↓ */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header-container {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    padding: 5px;
    background-image: url(../imagenes/img-paginas/banner.webp);
  }

  .img_logo {
    width: 50%;
    height: auto;
  }

  .menu-superior {
    display: none;
  }

  .titulo-aniversario {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

/* ↓↓ MOVIL ↓↓ */
@media screen and (max-width: 600px) {
  .header-container {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    background-image: url(../imagenes/img-paginas/banner.webp);
  }

  .img_logo {
    width: 50%;
    height: auto;
  }

  .menu-superior {
    display: none;
  }

  .titulo-aniversario {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
  }
}