.contenedor-principal {
  display: flex;
  width: 100%;
  gap: 5%;
}

.caja__articulos-matriz {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 549px;
  overflow: auto;
  gap: 5%;
}

/* ↓↓ TABLET ↓↓ */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .contenedor-principal {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* ↓↓ MOVIL ↓↓ */
@media screen and (max-width: 600px) {
  .contenedor-principal {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}